@import "../../node_modules/@material/animation/variables";
@import "../../node_modules/@material/animation/functions";

$primary-color: #007dfe;
$secondary-color: #1b2e35;
$text-primary: #000000;

%flex-element {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

%cambio-lenguaje {
  position: absolute;
  bottom: 85%;
  border: solid 2px;
}

// Página Principal
body {
  height: 100vh;
  margin: 0;
  //padding-left: 5%;
  //padding-right: 5%;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

nav {
  @extend %flex-element;
  height: 50px;
  margin: 0;
  padding: 0;

  div {
    display: inherit;
    justify-content: center;
    img {
      width: 100%;
      height: -webkit-fill-available;
    }
  }

  ul {
    display: inherit;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inherit;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    color: $text-primary;
    font-weight: bold;
    a {
      display: inherit;
      align-items: center;
      text-decoration: none;
      color: $text-primary;
      &:hover {
        border-bottom: $secondary-color solid;
      }
      &:focus {
        border-bottom: #000 solid;
      }
    }
  }
}

#Imagen_de_marca a {
  font-size: 35px;
  font-family: "Bungee Shade", sans-serif;
  color: $text-primary;
}

#Hero {
  @extend %flex-element;
  margin-top: 1rem;
  text-align: center;
}

#Hero_Image {
  img {
    width: 100%;
  }
}

#Hero_Text {
  #Nombres {
    font-size: 2.5rem;
  }
  #Apellidos {
    color: $primary-color;
    font-size: 2.5rem;
  }
  #Titular {
    color: $secondary-color;
    font-size: 2.5rem;
  }
}

.frontend-text {
  color: $primary-color;
}

.backend-text {
  color: $secondary-color;
}

#Footer {
  text-align: center;
  a img {
    width: 50px;
    height: 50px;
  }
}

#Footer_Copy {
  width: 100%;
  text-align: center;
  color: $text-primary;
  font-weight: bold;
}

.Cambio_Lenguaje_EN {
  @extend %cambio-lenguaje;
  left: 80%;
}

.Cambio_Lenguaje_ES {
  @extend %cambio-lenguaje;
  right: 80%;
}

.mdc-button:not(:disabled) {
  border: solid 1px #000000;
  color: $text-primary;
  &:hover {
    color: #ffffff;
    background-color: $text-primary;
    animation: lang-button-anim 1.5s ease;
  }
  &:active {
    background-color: $text-primary;
    color: #ffffff;
  }
}

@keyframes lang-button-anim {
  from {
    background-color: transparent;
  }

  to {
    background-color: $text-primary;
    color: #ffffff;
  }
}

// Página Mi Historia
%grid-element2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

%center_vertically_horizontally {
  align-self: center;
  justify-self: center;
}

.Grid_Container {
  @extend %grid-element2x2;
  animation: history-page-anim 2s ease-in;
}

#Retrato {
  @extend %center_vertically_horizontally;
  animation: flip-image 2s ease-in;
  img {
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 50%;
  }
}

#Mi_Historia {
  margin: 10px;
  text-align: center;
}

@keyframes history-page-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flip-image {
  from {
  }

  to {
    transform: rotateY(360deg);
  }
}
