@import "../../node_modules/@material/animation/variables";
@import "../../node_modules/@material/animation/functions";
@import "breakpoints";
@import "mixins";

$primary-color: #007dfe;
$secondary-color: #1b2e35;
$text-primary: #000000;

%flex-element {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

%cambio-lenguaje {
  position: absolute;
  bottom: 85%;
  border: solid 2px;
}

// Keyframes
@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.page-title {
  text-align: center;
}

.page-description {
  text-align: center;
}

body {
  margin: 0;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5 {
  font-family: "Halant", sans-serif;
}

a, p, .tool {
  font-family: "Nunito Sans",sans-serif;
}

p {
  line-height: 200%;
}

// Página Principal

#menu {
  @extend %flex-element;
  height: 50px;
  margin: 0;
  padding: 0;
  box-shadow: 4px 3px 11px 2px rgba(0, 0, 0, 0.2);

  &-branding a {
    font-size: 35px;
    font-family: "Bungee Shade", sans-serif;
    color: $text-primary;
  }

  div {
    display: inherit;
    justify-content: center;
    img {
      width: 100%;
      height: -webkit-fill-available;
    }
  }

  .menu-nav {
    display: inherit;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    .nav-item {
      display: inherit;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      color: $text-primary;
      font-weight: bold;
      .nav-link {
        display: inherit;
        align-items: center;
        text-decoration: none;
        color: $text-primary;
        &:hover {
          color: $primary-color;
          transition: color 0.5s;
        }
        &.current {
          color: $primary-color;
        }
      }
    }
    @include sm {
      width: 50%;
      display: block;
      position: relative;
      top: 130px;
      left: 88%;
      background-color: $secondary-color;
      opacity: 0.8;
      z-index: 1;
      .nav-item {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        z-index: 2;
        .nav-link {
          text-align: center;
          color: #ffffff;
        }
      }
      &.is-active {
        left: 22%;
        transition: left 0.5s;
      }
    }
  }

  .burguer-menu {
    display: none;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 5px;
    &.is-active {
      background-color: $secondary-color;
      color: #ffffff;
      transition: background-color 0.5s, color 0.5s;
    }
    @include sm {
      display: inherit;
    }
  }

  @include sm {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
  }
}

#Hero {
  @extend %flex-element;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  .hero-image {
    width: 100%;
    height: 450px;
    @include sm {
      height: auto;
    }
  }
  .hero-text {
    .title-name {
      font-size: 2.5rem;
    }
    .title-lastname {
      color: $primary-color;
      font-size: 2.5rem;
    }
    .titular {
      color: $secondary-color;
      font-size: 2.5rem;
    }
    .frontend-text {
      color: $primary-color;
    }
    .backend-text {
      color: $secondary-color;
    }
    @include sm {
      margin-bottom: 2rem;
    }
  }
  @include sm {
    flex-flow: column wrap;
  }
}

#Footer {
  text-align: center;
  .social-image {
    width: 50px;
    height: 50px;
    @include sm {
      width: 40px;
      height: 40px;
    }
  }
  .footer-copyright {
    width: 100%;
    text-align: center;
    color: $text-primary;
    font-weight: bold;
  }
}

.cambio-lenguaje {
  @extend %cambio-lenguaje;
  &-en {
    left: 70%;
  }
  &-es {
    left: 10%;
  }
}

.mdc-button:not(:disabled) {
  border: solid 1px #000000;
  color: $text-primary;
  &:hover {
    color: #ffffff;
    background-color: $text-primary;
    animation: lang-button-anim 1.5s ease;
  }
  &:active {
    background-color: $text-primary;
    color: #ffffff;
  }
}

.mdc-button__ripple::before,
.mdc-button__ripple::after {
  background-color: #000000;
}

@keyframes lang-button-anim {
  from {
    background-color: transparent;
  }

  to {
    background-color: $text-primary;
    color: #ffffff;
  }
}

// Página Mi Historia
%grid-element2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

%center_vertically_horizontally {
  align-self: center;
  justify-self: center;
}

#main-section {
  @extend %grid-element2x2;
  margin-top: 1rem;
  animation: history-page-anim 2s ease-in;

  .portrait-section {
    @extend %center_vertically_horizontally;
    animation: flip-image 2s ease-in;
    .portrait-image {
      width: 100%;
      border: 2px solid black;
      border-radius: 50%;
    }
  }
  .my-story {
    padding-left: 10%;
    padding-right: 10%;
    .my-story-title {
      text-align: center;
      color: $secondary-color;
    }
    .my-story-description {
      text-align: justify;
    
    }
  }
}

@keyframes history-page-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flip-image {
  from {
  }

  to {
    transform: rotateY(360deg);
  }
}

// Página Experiencia
#experiences {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 10px;
  .experience {
    width: 90%;
    padding: 10px;
    align-self: stretch;
    justify-self: center;
    align-content: center;
    border: 1px solid $secondary-color;
    border-radius: 15px;
    // background-color: #000000;
    color: black;
    // color: #ffffff;
    .exp-title {
      font-weight: bold;
    }
    .exp-subtitle {
      font-weight: lighter;
      opacity: 0.6;
    }
    .exp-description {
      text-align: justify;
    
    }
  }
}

//Pagina Proyectos
#cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
    padding: 0.6rem;
    border: 1px solid #007dfe;
    border-radius: 10px;
    color: #ffffff;
    .card-img {
      height: 20rem;
    }
    .card-layout {
      text-align: center;
      background: transparent;
      h2 {
        margin: 10px;
        color: #ffffff;
      }
    }
    .card-link {
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 5px;
      text-decoration: none;
      color: inherit;
      background-color: #000000;
      border: 2px solid $primary-color;
      border-radius: 20px;
      text-align: center;
      transition: color 1s, background-color 1s;
      i {
        margin: 2.5px;
      }
      &:hover {
        color: #000000;
        background-color: #ffffff;
      }
      &:active {
        color: #000000;
        background-color: #ffffff;
      }
    }
  }
  .renacer {
    @include project-image-bg("../img/renacer-web.JPG");
  }
  .starwars {
    @include project-image-bg("../img/star-wars-web.JPG");
  }
  .importexp {
    @include project-image-bg("../img/importexp-web.jpg");
  }
  .javana {
    @include project-image-bg("../img/confecciones-javana-web.jpg");
  }
}

// Habilidades y Herramientas
#skills-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
  .skill {
    width: 33%;
    margin: 2.5rem;
    padding: 1rem;
    border: 1px solid $primary-color;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    .skill-title {
      margin-left: 4rem;
      margin-right: 4rem;
      text-align: center;
      border-bottom: 2px solid $primary-color;
    }
    .skill-description {
      text-align: justify;
    
    }
  }
}
#tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .tool {
    width: -webkit-fill-available;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 0;
    .tool-bar {
      background-color: #eee;
      padding: 2px;
      border-radius: 15px;
      margin-bottom: 5px;
      font-size: 1rem;
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .tool-bar::before {
      content: attr(data-skill);
      background-color: #f3b0ff;
      display: inline-block;
      padding: 5px 0 5px 10px;
      border-radius: inherit;
      animation: load 2s 0s;
      -webkit-animation: load 2s 0s;
      -moz-animation: load 2s 0s;
      -o-animation: load 2s 0s;
    }

    .tool-bar.front::before {
      background-color: $primary-color;
    }
    .tool-bar.back::before {
      background-color: $secondary-color;
    }

    .tool-bar.learning::before {
      width: calc(20% - 10px);
    }
    .tool-bar.basic::before {
      width: calc(40% - 10px);
    }
    .tool-bar.intermediate::before {
      width: calc(60% - 10px);
    }
    .tool-bar.advanced::before {
      width: calc(80% - 10px);
    }
    .tool-bar.expert::before {
      width: calc(100% - 10px);
    }
  }
}
